* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background: black;
    width: 100vw;
}

.site-header .logo {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
    border-radius: 25px;
}

.site-header .logo img{
    height: 75px;
    width: 75px;
    border-radius: 25%;
    vertical-align: middle;
    margin-right: 10px;
    padding: 10px;
}

.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: flex;
    font-size: 24px;
    justify-content: flex-end;
}

.site-nav a {
    display: block;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.nameheader {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: left;;
}

body {
    height: 200vh;
    background: linear-gradient(to bottom, #fe4158, #000000);
    text-align: initial;
}

.website-content {
    display: inline-block;
    justify-content: center;                 
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    padding: 40px 60px;                    
    margin: 60px auto 100px; /* 3rd option adjust margin below Soren Eaton Software Devloper H1 */           
    text-align: initial;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.intro {
    font-size: 65px;
    font-family: 'work-sans', sans-serif;
    text-align: left;
    margin: 0;
    color: white;
    opacity: 1;
}

.intro h2 {
    font-size: 65px;
    font-family: 'work-sans', sans-serif;
    text-align: left;
    margin: 0;
    color: white;
    opacity: 1;
}

.about-container {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #fff;    
    font-family: 'Work Sans', sans-serif;
    padding: 0 100px;
}

.about-container p {
    font-size: 34px;
}

.paragraph-data h1 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 14px;
}

.paragraph-data {
    display: grid;
    flex: 1 1 0;
    text-align: center;
    max-width: 50%;
    font-family: 'Work Sans', sans-serif;
}
.skills {
    display: grid;
    flex: 1 1 0;
    max-width: 50%;
    justify-content: center;
}

.skills-title {
    display: flex;
    margin: 0 0 14px;
    font-weight: 700;
    color: #fff;        
    justify-content: center; 
}

/* the grid */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 12px;
    max-width: 300px;
}

.skill {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 14px 12px;
    border-radius: 10px;
    font-weight: 600;
    transition: transform .15s ease, box-shadow .15s ease, background .15s ease;
    user-select: none;
}


